/* General styles for both pages */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZXZlbnR8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 20px;
  }
  
  .form-container {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for better readability */
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffeb3b;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    color: #333;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1976D2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1565C0;
  }
  
  .auth-links p {
    margin-top: 15px;
  }
  
  a {
    text-decoration: none;
    color: #ffeb3b;
    font-size: 16px;
  }
  
  a:hover {
    color: #fff;
  }
  
  
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .form-container {
      padding: 20px;
    }
  
    h1 {
      font-size: 30px;
    }
  
    input[type="submit"] {
      font-size: 16px;
    }
  
    button {
      font-size: 16px;
    }
  
    a {
      font-size: 14px;
    }
  }
  